@mixin mq-sm-down {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin mq-sm-up {
  @media (min-width: 501px) {
    @content;
  }
}

.box-2 {
  @include mq-sm-down() {
    display: none;
  }
  @include mq-sm-up() {
    background-color: green;
  }
}
.box-3 {
  @include mq-sm-down() {
    display: none;
  }
}
